body {
    margin: 0;
    padding: 0;
}

#container {
    width:800px;
    height:600px;
    border: 1px solid black;
    margin: 30px;
    padding: 0;
}

canvas{
    border: 1px solid black;
}
canvas:hover{
    cursor:none;
}